M00 */8 * * * bash /illumina/Pipeline_Production/Vador-v2/cron_sirius_UE.sh >> /illumina/scripts/logs/log_cron_sirius_ext.txt 2>&1
00 */8 * * * bash /illumina/Pipeline_Production/Vador-v2/cron_mercury_UE.sh >> /illumina/scripts/logs/log_cron_mercury_ext.txt 2>&1 
21 * * * * /usr/bin/flock -n /illumina/scripts/GCP_Demultiplex/gcp_dmx_rsync.lockfile /illumina/scripts/GCP_Demultiplex/copy.sh >> /illumina/scripts/GCP_Demultiplex/copy.log 2>&1